<a
    class="flex size-11 items-center justify-center rounded-full bg-transparent shadow-lg"
    href="https://github.com/cyrus01337/stickman-td-damage-calculator"
>
    <img
        class="transition-size border-base-content bg-base-content fill-base-content text-base-content size-9 rounded-full border-2 shadow-md duration-300 hover:size-11 active:size-8 lg:size-10 lg:active:size-8 dark:border-transparent dark:bg-transparent"
        src="/stickman-td-damage-calculator/github.svg"
    />
</a>
