---
import "@fontsource-variable/inter-tight";

import GitHub from "~/components/github.astro";
import ThemeController from "~/components/theme-controller.tsx";

interface Props {
    class?: string;
}

const { class: className = null } = Astro.props;
---

<!doctype html>
<html data-theme="light" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />

        <meta property="og:title" content="Stickman TD Damage Calculator" />
        <meta property="og:type" content="website" />
        <meta
            property="og:description"
            content="Open-source, public-facing tool to calculate the total DPS of a tower in the hit game Stickman TD"
        />
        <meta
            property="og:image"
            content="https://tr.rbxcdn.com/180DAY-d80d1ddcbabd388b1543e9827894967f/256/256/Image/Webp/noFilter"
        />
        <meta property="og:locale" content="en_GB" />
        <meta property="og:locale:alternate" content="en_US" />
        <meta property="og:locale:alternate" content="en_AU" />
        <meta property="og:locale:alternate" content="en_IE" />
        <meta property="og:site_name" content="Stickman TD Damage Calculator" />
        <meta property="og:url" content="https://github.com/cyrus01337/stickman-td-damage-calculator" />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <title>Stickman TD Damage Calculator</title>

        <script is:inline>
            const theme = localStorage.getItem("theme");

            if (!theme) {
                document.documentElement.setAttribute("data-theme", "dark");
            } else {
                document.documentElement.setAttribute("data-theme", theme);
            }
        </script>

        <script>
            import { themeChange } from "theme-change";

            themeChange();
        </script>
    </head>

    <body>
        <div class={className}>
            <nav class="box-border flex w-full flex-row justify-between lg:mb-3">
                <a class="text-primary hover:text-base-content text-2xl font-bold" href="/stickman-td-damage-calculator"
                    >Stickman TD <br class="hidden lg:block" />Damage Calculator</a
                >

                <div class="flex flex-row">
                    <a
                        class="text-primary hover:text-base-content pr-4 text-center font-bold transition-colors"
                        href="/stickman-td-damage-calculator/best-combinations">Best <br />Combinations</a
                    >

                    <ThemeController client:only="react" />
                    <GitHub />
                </div>
            </nav>

            <main class="flex flex-row gap-2 lg:flex-col">
                <slot />
            </main>
        </div>
    </body>
</html>
