---
import "@fontsource-variable/inter-tight";

interface Props {
    class?: string;
}

const { class: className = null } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />

        <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->

        <title>Astro App Boilerplate</title>
    </head>

    <body>
        <div class={className}>
            <slot />
        </div>
    </body>
</html>
